/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: monospace;
  line-height: 1.5;
  background-color: #c5b5c9;
  color: white; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

/* padding = space between content inside element and border
radius = changes corners of element to a curve with specified radius */
button {
  padding: 10px;
  border-radius: 10px;
}

/* targets game buttons */
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

/* hides stop button unless game is began */
.hidden {
  display: none;
}

/* inital color of button */
#button1 {
    background: #c2938f;
}

/* on click, the button changes to this color */
#button1:active, #button1.lit {
    background:#bf6862;
}

#button2 {
    background: #c1b6d9;
}

#button2:active, #button2.lit {
    background:#ac90e8;
}

#button3 {
    background: #add7db;
}

#button3:active, #button3.lit {
    background:#79989c;
}

#button4 {
    background: #6d686e;
}

#button4:active, #button4.lit{
    background:#292829;
}

#button5 {
    background: #dbcfad;
}

#button5:active, #button5.lit{
    background:#cfb265;
}

#button6 {
    background: #c1dbaf;
}

#button6:active, #button6.lit{
    background:#84ab6a;
}

